:root {
    --c1: -4px;
    --d1: -14px;
    --e1: -26px;
    --f1: -38px;
    --g1: -50px;
    --a1: -62px;
    --b1: -74px;
    --c2: -86px;
    --d2: -98px;
    --e2: -110px;
    --f2: -122px;
    --g2: -134px;
    --a2: -146px;
    --b2: -158px;
    --c3: -170px;
}

.container {
    background-image: url('./graph/staff.png');
    background-size: 100px;
    background-repeat: repeat-x;
    width: 990px;
    height: 320px;
    margin: 120px auto 0 auto;
}

.clef {
    height: 200px;
    position: relative;
    top: 16px;
    z-index: 1;
}

.noteContainerDiv {
    display: inline-block;
}

.sharpOnStaff {
    display: inline-block;
    height: 56px;
    position: relative;
    margin-right: 3px;
}

.sharpDisabled {
    display: none;
}

.fSharp {
    top: calc(var(--f2) + 16px);
}

.cSharp {
    top: calc(var(--c2) + 16px);
}

.gSharp {
    top: calc(var(--g2) + 16px);
}

.dSharp {
    top: calc(var(--d2) + 16px);
}

.aSharp {
    top: calc(var(--a1) + 16px);
}

.eSharp {
    top: calc(var(--e2) + 16px);
}

.bSharp {
    top: calc(var(--b1) + 16px);
}

.flatOnStaff {
    display: inline-block;
    height: 60px;
    width: 23px;
    position: relative;
}

.flatDisabled {
    display: none;
}

.bFlat {
    top: calc(var(--b1) + 5px);
}

.eFlat {
    top: calc(var(--e2) + 5px);
}

.aFlat {
    top: calc(var(--a1) + 5px);
}

.dFlat {
    top: calc(var(--d2) + 5px);
}

.gFlat {
    top: calc(var(--g1) + 5px);
}

.cFlat {
    top: calc(var(--c2) + 5px);
}
.noteOnStaff {
    display: inline-block;
    height: 23px;
    position: relative;
    left: 30px;
    margin-right: 24px;
}

.noteDisabled {
    display: none;
}

.lowerLine {
    display: inline-block;
    height: 4px;
    width: 46px;
    position: relative;
    top: -14px;
    left: -38px;
    margin-right: -18px;
}
    
.upperLine {
    display: inline-block;
    height: 4px;
    width: 46px;
    position: relative;
    top: -156px;
    left: -38px;
    margin-right: -18px;
}

.lineDisabled {
    opacity: 0;
}

.c1 {
    top: var(--c1);
}

.d1 {
    top: var(--d1);
}

.e1 {
    top: var(--e1);
}

.f1 {
    top: var(--f1);
}

.g1 {
    top: var(--g1);
}

.a1 {
    top: var(--a1);
}

.b1 {
    top: var(--b1);
}

.c2 {
    top: var(--c2);
}

.d2 {
    top: var(--d2);
}

.e2 {
    top: var(--e2);
}

.f2 {
    top: var(--f2);
}

.g2 {
    top: var(--g2);
}

.a2 {
    top: var(--a2);
}

.b2 {
    top: var(--b2);
}
