:root {
    --keyboardWidth: 600px;
}

.container {
    width: var(--keyboardWidth);
    margin: 0 auto;
}

.modeChooseDiv {
    display: inline-block;
    height: 60px;
    margin-right: 30px;
}

.chromaticChooseDiv {
    display: inline-block;
    height: 50px;
    width: 320px;

}

.chromaticChooseDivDisabled {
    display: none;
} 

.chromaticChooseP {
    display: inline-block;
    height: 40px;
    margin-right: 10px;
}

.modusChooseDiv {
    display: inline-block;
    height: 50px;
    width: 320px;
}

.modusChooseDivDisabled {
    display: none;
}

.modusChooseP {
    display: inline-block;
    height: 30px;
    margin-right: 10px;
}

.chordTypeChooseDiv {
    display: inline-block;
    height: 50px;
    width: 280px;
}

.chordTypeChooseDivDisabled {
    display: none;
}

.chordTypeChooseDiv ul {
    margin: 0 0 10px 0;
    list-style-type: none;
}

.chordTypeChooseDiv p {
    position: relative;
    top: 0;
    margin: 0;

}