:root {
    --keyboardWidth: 600px;
}

.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.modeChooseDiv {
    display: block;
    height: 60px;
    width: 100%;
}

.chromaticChooseDiv {
    display: block;
    height: 97px;
    width: 603px;

}

.chromaticChooseDivDisabled {
    display: none;
} 

.chromaticChooseP {
    display: inline-block;
    height: 40px;
    margin-right: 10px;
}

.modusChooseDiv {
    display: inline-block;
    height: 97px;
    width: 603px;
}

.modusChooseDivDisabled {
    display: none;
}

.modusChooseP {
    display: inline-block;
    height: 30px;
    margin-right: 10px;
}

.chordTypeChooseDiv {
    display: inline-block;
    height: 50px;
    width: 603px;
}

.chordTypeChooseDivDisabled {
    display: none;
}

.chordTypeChooseDiv ul {
    margin: 0 0 10px 0;
    list-style-type: none;
}

.chordTypeChooseDiv p {
    position: relative;
    top: 0;
    margin: 0;

}