:root {
    --keyboardWidth: 600px;
}

.container {
    width: var(--keyboardWidth);
    margin: 0 auto;
}

.modeChooseDiv {
    display: inline-block;
    height: 60px;
    margin-right: 30px;
}

.chromaticChooseDiv {
    display: inline-block;
    height: 60px;

}
.chromaticChooseP {
    display: inline-block;
    height: 40px;
    margin-right: 10px;
}
