:root {
    --c1: -6px;
    --d1: -16px;
    --e1: -28px;
    --f1: -40px;
    --g1: -52px;
    --a1: -64px;
    --b1: -76px;
    --c2: -88px;
    --d2: -100px;
    --e2: -112px;
    --f2: -124px;
    --g2: -136px;
    --a2: -148px;
    --b2: -160px;
    --c3: -172px;
}

.container {
    background-image: url('./graph/staff.png');
    background-size: 100px;
    background-repeat: repeat-x;
    width: 600px;
    height: 400px;
    margin: 0 auto;
}

.clef {
    height: 200px;
    position: relative;
    top: 16px;
    z-index: 1;
}

.noteOnStaff {
    display: inline-block;
    height: 20px;
    position: relative;
    left: 30px;
    margin-right: 25px;
}

.noteDisabled {
    display: none;
}

.c1 {
    top: var(--c1);
}

.d1 {
    top: var(--d1);
}

.e1 {
    top: var(--e1);
}

.f1 {
    top: var(--f1);
}

.g1 {
    top: var(--g1);
}

.a1 {
    top: var(--a1);
}

.b1 {
    top: var(--b1);
}

.c2 {
    top: var(--c2);
}

.d2 {
    top: var(--d2);
}

.e2 {
    top: var(--e2);
}

.f2 {
    top: var(--f2);
}

.g2 {
    top: var(--g2);
}

.a2 {
    top: var(--a2);
}

.b2 {
    top: var(--b2);
}

.c3 {
    top: var(--c3);
}