:root {
    --c1: -4px;
    --d1: -14px;
    --e1: -26px;
    --f1: -38px;
    --g1: -50px;
    --a1: -62px;
    --b1: -74px;
    --c2: -86px;
    --d2: -98px;
    --e2: -110px;
    --f2: -122px;
    --g2: -134px;
    --a2: -146px;
    --b2: -158px;
    --c3: -170px;
}

.container {
    background-image: url('./graph/staff.png');
    background-size: 100px;
    background-repeat: repeat-x;
    width: 600px;
    height: 350px;
    margin: 30px auto 0 auto;
}

.clef {
    height: 200px;
    position: relative;
    top: 16px;
    z-index: 1;
}

.pitchDiv {
    display: inline-block;
    width: 50px;
    position: relative;
    /* border: 1px solid red; */
}

.setVertical0 {
    margin-left: 50px;
}

.setVertical1 {
    left: -50px;
}

.setVertical2 {
    left: -100px;
}

.setVertical3 {
    left: -150px;
}

.setVertical4 {
    left: -200px;
}

.notesContainerDiv {
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    position: relative;
    width: 50px;
    overflow: visible;
}

.sharpOnStaff {
    display: inline-block;
    height: 54px;
    position: relative; 
    top: 16px;
    margin: 0 4px;
}

.sharpOnePositionLeft {
    left: -20px;
}

.sharpTwoPositionsLeft {
    left: -40px;
}

.sharpDisabled {
    display: none;
}

.flatOnStaff { 
    display: inline-block;
    height: 56px;
    position: relative;
    top: 4px;
    margin: 0 2px;
}

.flatOnePositionLeft {
    left: -26px;
}

.flatTwoPositionsLeft {
    left: -52px;
}

.flatDisabled {
    display: none;
}

.noteOnStaff {
    position: relative;
    height: 24px;
}

.noteSuspended {
    left: 33px;
}

.noteDisabled {
    display: none;
}

.c1 {
    top: var(--c1);
}

.d1 {
    top: var(--d1);
}

.e1 {
    top: var(--e1);
}

.f1 {
    top: var(--f1);
}

.g1 {
    top: var(--g1);
}

.a1 {
    top: var(--a1);
}

.b1 {
    top: var(--b1);
}

.c2 {
    top: var(--c2);
}

.d2 {
    top: var(--d2);
}

.e2 {
    top: var(--e2);
}

.f2 {
    top: var(--f2);
}

.g2 {
    top: var(--g2);
}

.a2 {
    top: var(--a2);
}

.b2 {
    top: var(--b2);
}

.c3 {
    top: var(--c3);
}