:root {
    --c1: -4px;
    --d1: -14px;
    --e1: -26px;
    --f1: -38px;
    --g1: -50px;
    --a1: -62px;
    --b1: -74px;
}
.container {
    background-image: url('./graph/staff.png');
    background-size: 100px;
    background-repeat: repeat-x;
    width: 600px;
    height: 320px;
    margin: 120px auto 0 auto;
}

.clef {
    height: 200px;
    position: relative;
    top: 16px;
    z-index: 1;
}

.noteOnStaff {
    display: inline-block;
    height: 23px;
    position: relative;
    left: 30px;
}

.noteDisabled {
    display: none;
}

.c {
    top: var(--c1);
}

.d {
    top: var(--d1);
}

.e {
    top: var(--e1);
}

.f {
    top: var(--f1);
}

.g {
    top: var(--g1);
}

.a {
    top: var(--a1);
}

.b {
    top: var(--b1);
}

.sharpOnStaff {
    display: inline-block;
    height: 54px;
    position: relative;
    left: 25px;
}

.sharpDisabled {
    display: none;
}

.cSharp {
    top: calc(var(--c1) + 16px);
}

.dSharp {
    top: calc(var(--d1) + 16px);
}

.eSharp {
    top: calc(var(--e1) + 16px);
}

.fSharp {
    top: calc(var(--f1) + 16px);
}

.gSharp {
    top: calc(var(--g1) + 16px);
}

.aSharp {
    top: calc(var(--a1) + 16px);
}

.bSharp {
    top: calc(var(--b1) + 16px);
}

.flatOnStaff {
    display: inline-block;
    height: 60px;
    position: relative;
    left: 25px;
}

.flatDisabled {
    display: none;
}

.cFlat {
    top: calc(var(--c1) + 5px);
}

.dFlat {
    top: calc(var(--d1) + 5px);
}

.eFlat {
    top: calc(var(--e1) + 5px);
}

.fFlat {
    top: calc(var(--f1) + 5px);
}

.gFlat {
    top: calc(var(--g1) + 5px);
}

.aFlat {
    top: calc(var(--a1) + 5px);
}

.bFlat {
    top: calc(var(--b1) + 5px);
}

.lowerLine {
    display: inline-block;
    height: 4px;
    width: 46px;
    position: relative;
    top: -14px;
    left: -14px;
}

.lineDisabled {
    display: none;
}
